<form ng-if="selected" name="taskForm" ng-submit="submitTaskForm(taskForm.$valid)" novalidate>
  <div layout-gt-xs="row">
    <md-input-container>
      <label>Text</label>
      <input ng-model="task.text">
    </md-input-container>
  </div>
  <div layout-gt-xs="row">
    <md-input-container flex-gt-md="30">
      <label>Date and time:</label>
        <input mdc-datetime-picker="" date="true" time="true" type="text" id="time2"
         min-date="minDate" format="DD-MM-YYYY hh:mm a" ng-model="task.dateTime" class=" md-input"
        readonly="readonly">

      </md-input-container>
  </div>
  <div layout-gt-xs="row"></div>
  <md-button type="submit" class="md-raised md-primary">Submit</md-button>
  </div>
</form>