<div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">          
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" ng-class="{collapse: isCollapsed}" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#/home">Home</a></li>
            <li><a href="#/tasks">Tasks</a></li>
            <li class="active"><a href="#/expenses">Expenses</a><span class="sr-only">(current)</span></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#/logout">Logout</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
    <div layout-gt-xs="row">
    <a href="#/expenses"><md-button class="md-raised md-primary">Expenses</md-button></a>
    <a href="#/recurringExpenses"><md-button class="md-raised">Recurring expenses</md-button></a> 
    </div>
    <expense-form></expense-form>
  <table datatable="" dt-options="expensesController.dtOptions" dt-columns="expensesController.dtColumns" dt-instance="expensesController.dtInstance" class="table table-striped table-bordered"></table>
  
  <div layout-gt-xs="row"></div>
  <md-button class="md-raised md-primary" ng-click="expensesController.addNewExpense()">Add Expense</md-button>
  </div>
  </div>
  