
.picture {
    background-image: url("https://images.unsplash.com/13/unsplash_523ae1f5502d6_1.JPG");
    background-size: cover;
    background-color: #cccccc;
}
.plain{
    background-color: white;
}
.tasks-container{
    height: 220px;
}